body{
    text-align: center;
}
h1{
    font-size: 120px;
    font-weight: bold;
}
button{
    font-size: 80px;
    background-color: blue;
    margin-bottom: 20px;
    width: 500px;
    height: 120px;
    border-radius: 12px;
    padding: auto;
}
#apple-btn{
    background-color: rgb(193, 102, 102);
    color: white;
}
#orange-btn{
    background-color: rgb(167, 142, 95);
    color: white;
}